/* Site's General Rules */
body {
  background-color: #1C2541;
  margin: 0;
  font-family: 'Fraunces', serif;
  line-height: 1.5;
}

hr {
  border-style: dotted none none;
  border-width: 8px;
  border-color: #388AFC;
  background-color: #0d1117;
  width: 12%;
}

table {
  border-spacing: 15px;
  padding: 10px;
}

.dates {
  vertical-align: top;
  text-align: left;
}

h1 {
  margin-top: 0;
  color: #E6FEFE;
}

h2 {
  color: #E6FEFE;
}

p, li, tr, span {
  color: #e9ecef;
}

a {
  color: #388AFC;
}

a:hover {
  color: #F0883E;
}

/* Open Screen */
.title {
  background: url('../images/LunarEclipse.jpg') no-repeat center fixed;
  background-size: cover;
  height: 1080px;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}

.nav {
  font-size: 25px;
}

.nav span {
  margin: auto 50px auto 50px;
}

.nav span a {
  color: white;
  text-decoration: none;
}

.nav span a:hover {
  color: #388AFC;
}

.Guy {
  color: white;
  position: relative;
  top: 20%;
  font-size: 9rem;
  font-weight: lighter;
  margin-bottom: 0;
}

.im {
  color: white;
  display: inline-block;
  margin-right: 1rem;
  font-size: 3.75rem;
}

.imDesc {
  color: white;
  position: relative;
  top: 20%;
  font-size: 30px;
}

/* About Me */
.CV {
  margin-top: 0;
  background-image: linear-gradient(200deg, #1C2541, #10002b);
}

.aboutMe {
  width: 75%;
  margin: 0 auto 100px auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.pp {
  width: 20%;
  float: left;
  padding-right: 40px;
}

.aboutMeHeader {
  margin-top: 0;
}

/* Guy's Go-To Guide */
.applications {
  background-color: #0d1117;
  border-top: 3px;
  border-top-style: solid;
  border-color: #FFE3BC;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gggHeader {
  padding: 20px;
  text-align: center;
  display: block;
}

.gggH2 {
  color: #E6FEFE;
  display: block;
}

/* Sorting Visualizer */
.sort {
  display: grid;
  grid-template-columns: 80% 20%;
}

.view, .sortType, .arraySize, .action, .sortingSpeed {
  border-style: solid;
  border-width: 1px;
  border-color: #E6FEFE;
  padding: 5px;
}

.view {
  height: 680px;
  grid-column: 1;
  grid-row: 1/5;
}

.view div {
  border-style: solid;
  border-width: 1px;
  border-color: #388AFC;
  margin: 1px;
}

.sortType {
  grid-column: 2;
  grid-row: 1;
}

.sortTypeButtons, .arraySizeButtons, .arraySizeButtonsPick, .actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortTypeButtonsOne, .actionButtonsOne {
  background-color: #13B9DB;
  display: inline-block;
}

.sortTypeButtonsOne, .arraySizeButtonsOne, .actionButtonsOne {
  margin: 10px;
  border-color: #FFE3BC;
  border-radius: 10px;
  font-family: 'Fraunces', serif;
  font-size: 1.01rem;
  color: #E6FEFE;
}

.arraySizeButtonsTwo {
  text-align: center;
  width: 15%;
}

.arraySize {
  grid-column: 2;
  grid-row: 2;
}

.sortingSpeed {
  grid-column: 2;
  grid-row: 3;
}

input[type=range] {
  width: 60%;
  background-color: #ddd;
}

.action {
  grid-column: 2;
  grid-row: 4;
}

.actionButtonsOne {
  margin-top: 50px;
}

/* Contact Form */
.formSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactText {
  text-align: left;
  width: 8%;
  border-style: solid;
  border-width: 1px;
  border-color: #E6FEFE;
  padding: 15px;
}

.formLabel, .formInput, .formTextArea {
  display: block;
  width: 100%;
}

.contactUL {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contactLI {
  padding: 9px;
}

.contactSpan {
  color: #E6FEFE;
}

input[type="submit"] {
  background: #E6FEFE;
  color: #2ACAE6;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 30px;
}

.form {
  width: 25%;
  margin: 80px 5%;
}

.formHeading {
  text-align: center;
}

.contactForm {
  background-color: #0d1117;
  padding: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #E6FEFE;
}

.requiredStar {
  color: #2ACAE6;
}

.formInput, .formTextArea {
  width: 100%;
  padding: 9px 20px;
  border: 1px solid #e1e2eb;
  background-color: #e9ecef;
  color: black;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 29px;
  line-height: 2rem;
  border-radius: 3px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.7rem;
}

/* footer */
footer {
  height: 70px;
  background-color: #FFE3BC;
  border-top-style: solid;
  border-width: 3px;
  border-color: #dee2e6;
  text-align: center;
}

.footerText {
  color: black;
  /* margin: auto; */
}

/* Dynamic Styling */
.selectedButton {
  background-color: #F0883E
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: #E6FEFE;
}