body {
  background-color: #1C2541;
  margin: 0;
}

hr{
  border-style: dotted none none;
  border-width: 8px;
  border-color: #388AFC;
  background-color: #1C2541;
  width: 12%;
}

.title {
    background: url('../images/LunarEclipse.png') no-repeat center fixed;
    background-size: cover;
    height: 1080px;
    text-align: center;
}

.im {
  color: white;
  position: absolute;
  top: 390px;
  right: 1115px;
  font-size: 60px;
}

.Guy {
  color: white;
  position: relative;
  top: 320px;
  font-size: 145px;
  margin-bottom: 70px;
}

.imDesc {
  color: white;
  position: relative;
  top: 300px;
  font-size: 30px;
}


h1 {
  color: #DA3633;
  margin-top: 0;
}

h2 {
  color: #6c757d;
}

p, li{
  color: #e9ecef;
}

a {
  color: #388AFC;
}

a:hover {
  color: #F0883E;
}

.dataStructures hr {
  border-color: #3FB950;
  margin-left: 0;
}

.algorithms hr {
  border-color: #6E40C9;
  margin-left: 0;
}

.logicCircuits hr {
  border-color: #388AFC;
  margin-left: 0;
}

.electricalCircuits hr {
  border-color: #F0883E;
  margin-left: 0;
}

.limits hr {
  border-color: #DA3633;
  margin-left: 0;
}
