
//BackGround Colors
$bg-dark-1 : #0d1117;
$bg-dark-2: #010409;

//Font Colors:
$fc-light-1 : #f0f6fc;

//Color Palette: 
$gray-0: #f0f6fc;
$gray-1: #c9d1d9;
$gray-2: #b1bac4;
$gray-3: #8b949e;
$gray-4: #6e7681;
$gray-5: #484f58;
$gray-6: #30363d;
$gray-7: #21262d;
$gray-8: #161b22;
$gray-9: #0d1117;

$blue-1 : #388AFC;
$purple-1: #2C306E;

//Highligh
$highlight-1: #f78166;
$highlight-gold: #ffdd00;
$highlight-blue : #0466c8; 
$highlight-cyan : #0087a6;
$highlight-light: #FFE3BC;