@import '../../main.scss';

.Bar {        
    display: flex;
    flex-direction: column;        
    border: solid;
    border-color: $blue-1;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px; 
}