@import '../../main.scss';

.Bar {        
    display: flex;
    flex-direction: column;
    justify-content: end;        
    border: solid;
    border-color: $bg-dark-1;
    border-width: 2px;
    border-radius: 5px 5px 0px 0px; 
}