@import '../../main.scss';

.Sorter {
    margin: 1rem;    
    margin-top: 2rem;    
    display: grid;
    grid-template-columns: 1fr 8fr;       
    height: 100%;

    .SideBar {
        font-size: 2rem;
        display: flex;        
        flex-direction: column;    
        justify-content: space-between;

        
        .AlgoWrapper {
            display: flex;
            flex-direction: column;    

            .ActiveAlgo {  
                color: $highlight-blue; 
                transform: scale(1.3);
              }
        }

        .SettingsWrapper {
            display: flex;
            

            .SliderWrapper {
                margin: 1rem;
            }
        }

        .SortingButton {            
            margin: 1rem;
            padding: 4px;                    
            color: $gray-3;            
            width: 60%;
            min-width: fit-content;
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }

        .SortWrapper {
            display: flex;                                   

            &:hover {
                cursor: pointer;
            }
        }

        .ActiveSort{
            color: $highlight-blue; 
            transform: scale(1.2);           
        }

        .ActiveArrow {
            color: $highlight-blue; 
            animation-name: sortingArrow;
            animation-duration: 0.4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        .HiddenArrow {
            visibility: hidden;
        }
    }

    .Port {
        display: flex;    
        align-items: baseline;        
    }
}

@keyframes sortingArrow {
    0% { transform: translateX(0); opacity: 0.4 }
    100% { transform: translateX(1.5rem); opacity: 0.9 }
  }