@import '../../main.scss';

.Cell {
    border-style: solid;
    border-color: $highlight-blue;
    border-width: 1px;      
    color: white;      
}

.Up {
    border-top-color: transparent;
}

.Down {
    border-bottom-color: transparent;
}

.Right {
    border-right-color: transparent;
}

.Left {
    border-left-color: transparent;
}

.Finish {    
    background-color: linear-gradient(200deg, #fff75e, #ff8800);
    background-image: url("../../../images/treasure-box-icon-13-removebg-preview.png");
    background-position: center;
    background-size: cover;
}

.dfsMarked {    
    animation-name: fadeInDFSMark;
    animation-duration: 0.15s;    
    animation-fill-mode: forwards;
    animation-timing-function: ease-in; 
}

.bfsMarked {    
    animation-name: fadeInBFSMark;
    animation-duration: 0.15s;    
    animation-fill-mode: forwards;
    animation-timing-function: ease-in; 
}

.dfsPath {
    animation-name: fadeInDFSPath;
    animation-duration: 0.15s;    
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.bfsPath {
    animation-name: fadeInBFSPath;
    animation-duration: 0.15s;    
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadeInDFSMark {
    0% { background-color: inherit }
    100% { background-color: rgba(218, 54, 51, 0.85);}
  }

@keyframes fadeInBFSMark {
    0% { background-color: inherit } 
    100% { background-color: rgba(110, 64, 201, 0.75);}
  }

@keyframes fadeInDFSPath {
    0% { background-color: $highlight-gold; }
    100% { background-color: rgba(223, 115, 115, 0.75);} 
  }

@keyframes fadeInBFSPath {
    0% { background-color: $highlight-gold; }
    100% { background-color: rgba(224, 170, 255, 0.75);} 
  }