@import '../../main.scss';

.EditorWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code-editor{
    background-color: $bgColorDark;        
    color: $color;
    margin: $margin;     
    height: 100%;
    

    .ace-editor {
        border-radius: $borderRadious;        
    }
}